:root {
  margin: 0;
  border: 0;
}

body {
  background-image: url('../img/farm.jpeg');
  /* background-size: 100vw 10vh; */
  object-fit: 100vw 100vh cover;
  background-repeat: no-repeat;
  background-color: #b9ccb8;
}