
.memory > h1 {
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);

    font-size: 100px;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}