.scorecard {
    min-height: 300px;
}

.score > h2 {
    margin: 0;
}

.score {
    position: absolute;
    top: 200px;
    left: 3rem;

    display: grid;
    grid-template-columns: auto auto;
    gap: .25rem;
}